acr.values="urn:safelayer:tws:policies:authentication:level:low"
baseURL="https://stg-id.uaepass.ae"
clientId="sandbox_stage"
clientSecret="sandbox_stage"
profileCompleteRedirect="https://www.google.com/maps"
response.type="code"
scope="urn:uae:digitalid:profile:general"
setupProfileRedirect="https://www.google.com/maps"
state="HnlHOJTkTb66Y5H"
uaePassLoginURL="https://stg-id.uaepass.ae/idshub/authorize"
defaultSiteAssignment="Guest"
